openapi: 3.2.0
info:
  title: Platform REST Subscriptions API
  version: Evergreen
servers:
- url: https://prod.apigateway.co/platform
  description: Production
- description: Demo
  url: https://demo.apigateway.co/platform
- description: Local
  url: '{local}/platform'
- url: http://localhost:11001/platform
  description: Localhost
tags:
- name: Subscriptions
paths:
  /subscriptions:
    parameters:
    - schema:
        type: string
      name: filter[partner.id]
      in: query
      required: true
    - schema:
        type: string
      name: filter[businessLocation.id]
      in: query
    get:
      summary: List Subscriptions
      responses:
        '200':
          description: A list of Assignments
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/subscriptions'
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        format: uri
                      first:
                        type: string
                        format: uri
                        description: Provides a link back to the first page of results
                      next:
                        type: string
                        format: uri
                        description: The URI at which the next batch of subscriptions can be gotten from
      operationId: get-subscriptions
      security:
      - OAuth2Demo:
        - sales.account
      - OAuth2Prod:
        - sales.account
      x-lifecycle:
        status: trustedTester
      parameters:
      - schema:
          type: string
          example: Bearer <Access Token>
          pattern: ^Bearer\s\S+
        in: header
        name: Authorization
        description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
        required: true
      - schema:
          type: string
        in: query
        name: filter[partner.id]
        description: The partner ID.
        required: true
      - schema:
          type: string
        in: query
        name: filter[businessLocation.id]
        description: The Business Location ID.
        required: true
      - schema:
          type: string
        in: query
        name: page[cursor]
        description: The cursor stores all your filters and current location in the list to allow paging over the results in smaller batches. The value will be provided in the response links. Pagination Docs.
      - schema:
          type: string
          default: '25'
          minLength: 1
          maxLength: 25
        in: query
        name: page[limit]
        description: The maximum number of tasks you would like returned in a single batch. Use the links.next member in the response to get the remainder. Pagination Docs.
      description: "[Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Trusted Tester`\n\nReturns a list of subscriptions based on the provided filters. \n\nCurrently you can filter the list baseed on your partnerID using `filter[partner.id]` and optionally also filter by\nthe business location ID using `filter[businessLocation.id]`\n\nYou will receive a different record for each subscription purchased for multi-activatable products."
      tags:
      - Subscriptions
    options:
      summary: List valid HTTP verbs for /subscriptions
      operationId: options-subscriptions
      responses:
        '204':
          description: No Content
      description: 'Used solely for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the OPTIONS request returns the list of possible HTTP methods and other headers that browsers use to protect user''s security. You should not call this operation directly. '
      tags:
      - Subscriptions
components:
  schemas:
    subscriptions:
      type: object
      description: Subscriptions represent a product, product edition or service that will be billed for on the defined recurrence period.
      title: Subscriptions
      x-stoplight:
        id: 04c49c2676b04
      x-tags:
      - Subscriptions
      properties:
        id:
          type: string
          description: The order id which is unique to a specific product subscription.
          example: Of-60341002-c558-484c-a7fe-e1vr97eadbg3
        type:
          type: string
          description: Type of the data that is returned.
          default: subscriptions
        attributes:
          type: object
          properties:
            customerId:
              type: string
              description: The id of the business location.
              example: AG-1234567
            productName:
              type: string
              description: The name of the product that the subscription is assigned for.
              example: Website Pro
            sku:
              type: string
              description: The unique identifier of a product, product edition or package. It can be obtained by following [this guide](https://docs.apigateway.co/docs/openapi-specs/docs/Guides/Sell/FindSKU.md). This value is used when placing an order.
              example: A-H73ELH2OP6
            customerName:
              type: string
              description: The name of the customer (Business).
              example: Kurry Cart
            billingStart:
              type: string
              description: The date/time when the item starts billing.
            frequency:
              type: string
              description: The frequency for which the product is billed.
              example: monthly
            nextRenewal:
              type: string
              description: The calculated next renewal date of the item.
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OAuth2Demo:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sso-api-demo.apigateway.co/oauth2/auth
          tokenUrl: https://sso-api-demo.apigateway.co/oauth2/token
          scopes:
            sales.contact: Read-write access to sales contact details
            business:read: Read only access to business details
            business: Read-write access to business details
            partner:read: Read-write access to details about your partner
            financial: Read-write access to financial details
            order: Read-write access to order details
            order:read: Read only access to order details
            user.profile:read: Read access to the profile fields of all categories of users
            user.contact:read: Read access to the contact info (email, phone, address) of all categories of users
            user.permission:read: Read access to the permission info (accessible locations, features and roles) of all categories of users
            user.permission: Read-write access to the permission info (accessible locations, features and roles) of all categories of users
            user.admin: Read-write access to manage all users
            user.list: '''Allows searching for users based on a set of filters. (ex: email, name, category, organization). Without this scope an exact user id is required.'
            self.user.admin: Allows editing the profile, contact info and profile image for the current user.
            self.user.contact:read: Read access to the contact info (email, phone, address) of the current user.
            openid: Allows getting the user id of the current user
            profile: Readonly access to the user profile, including name, locale, and language preferences.
            email: Allows readonly access to the email of the current user.
            phone: Allows readonly access to the phone numbers of the current user.
            address: Allows readonly access to the address of the current user.
            sales.account: Allows read-write access to account records
            sales.proposals: Allows read-write access to proposals
            product: Read access to the product details
            automation:read: Read only access to automations
          refreshUrl: ''
    OAuth2Prod:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sso-api-prod.apigateway.co/oauth2/auth
          tokenUrl: https://sso-api-prod.apigateway.co/oauth2/token
          scopes:
            sales.contact: Read-write access to sales contact details
            business:read: Read only access to business details
            business: Read-write access to business details
            partner:read: Read-write access to details about your partner
            financial: Read-write access to financial details
            order:read: Read only access to order details
            order: Read-write access to order details
            user.profile:read: Read access to the profile fields of all categories of users
            user.contact:read: Read access to the contact info (email, phone, address) of all categories of users
            user.permission:read: Read access to the permission info (accessible locations, features and roles) of all categories of users
            user.permission: Read-write access to the permission info (accessible locations, features and roles) of all categories of users
            user.admin: Read-write access to manage all users
            user.list: '''Allows searching for users based on a set of filters. (ex: email, name, category, organization). Without this scope an exact user id is required.'
            self.user.admin: Allows editing the profile, contact info and profile image for the current user.
            self.user.contact:read: Read access to the contact info (email, phone, address) of the current user.
            openid: Allows getting the user id of the current user
            profile: Readonly access to the user profile, including name, locale, and language preferences.
            email: Allows readonly access to the email of the current user.
            phone: Allows readonly access to the phone numbers of the current user.
            address: Allows readonly access to the address of the current user.
            sales.account: Allows read-write access to account records
            sales.proposals: Allows read-write access to proposals
            product: Read access to the product details
            automation:read: Read only access to automations
          refreshUrl: ''
