openapi: 3.2.0
info:
  title: Platform REST Automation Runs API
  version: Evergreen
servers:
- url: https://prod.apigateway.co/platform
  description: Production
- description: Demo
  url: https://demo.apigateway.co/platform
- description: Local
  url: '{local}/platform'
- url: http://localhost:11001/platform
  description: Localhost
tags:
- name: Automation Runs
paths:
  /automationRuns:
    parameters: []
    post:
      summary: Create automation run
      tags:
      - Automation Runs
      responses:
        '202':
          description: Accepted
      operationId: post-autoamtionruns
      security:
      - OAuth2Demo:
        - business
      - OAuth2Prod:
        - business
      x-lifecycle:
        status: trustedTester
      description: '[Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Trusted Tester`


        Create an automation run (to trigger a preconfigured automation)'
      parameters:
      - schema:
          type: string
          example: Bearer <Access Token>
          pattern: ^Bearer\s\S+
        in: header
        name: Authorization
        description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
        required: true
      - schema:
          type: string
          default: application/vnd.api+json
        in: header
        name: Content-Type
        description: Indicates the format of the request body being sent. In most cases you will want `application/vnd.api+json`
        required: true
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/automationRuns'
    options:
      operationId: options-automationruns-id
      summary: List valid HTTP verbs for /automationRuns
      description: 'Used solely for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the OPTIONS request returns the list of possible HTTP methods and other headers that browsers use to protect user''s security. You should not call this operation directly. '
      responses:
        '204':
          description: No Content
      tags:
      - Automation Runs
components:
  schemas:
    automationRuns:
      title: Automation Run
      type: object
      x-examples: {}
      description: '[Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Trusted Tester`


        An Automation run is the instance of an automation executing its steps for a business location.

        You may configure the automation definition and obtain its ID within Partner Center.'
      x-tags:
      - Automation Runs
      required:
      - type
      - relationships
      properties:
        type:
          type: string
          default: automationRuns
          example: automationRuns
          enum:
          - automationRuns
        relationships:
          type: object
          required:
          - automation
          properties:
            automation:
              type: object
              description: 'A link to the automation definition that is being run. '
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - id
                  properties:
                    type:
                      type: string
                      default: automations
                      example: automations
                    id:
                      type: string
                      example: Automation-91cb048c-c498-43ba-ab99-2ca2d27d2c46
                      pattern: ^Automation-
            businessLocation:
              type: object
              description: 'Deprecated: Pass the businessLocation.id in the attributes.entityId field instead.


                A link to the business location that this automation is being run for. Either the businessLocation or order is required. (It depends on the automation type.)'
              deprecated: true
              properties:
                data:
                  type: object
                  required:
                  - type
                  - id
                  properties:
                    type:
                      type: string
                      default: businessLocations
                      example: businessLocations
                    id:
                      type: string
                      example: AG-1234567
            order:
              type: object
              description: 'Deprecated: Pass the order.id in the attributes.entityId field instead.


                A link to the order that this automation is being run for. Either the businessLocation or order is required. (It depends on the automation type.)'
              deprecated: true
              properties:
                data:
                  type: object
                  required:
                  - type
                  - id
                  properties:
                    type:
                      type: string
                      enum:
                      - orders
                      default: orders
                    id:
                      type: string
                      example: AG-1234:ORD-1234567
        attributes:
          type: object
          properties:
            entityId:
              type: string
              description: "The ID of the primary record that this automation relates to. It is used for reporting and rate limiting.\n\nFor automations using the `Triggered manually for a contact` trigger it should contain a contact id. \n\nFor automations using the `Triggered manually for a order` trigger it should contain an order id. \n\nFor automations using the `A webhook is received` trigger it may be left blank.\n"
            data:
              type: object
              description: Extra data that you would like to send to the automation. The automation trigger must also be configured correctly to be able to read these values.
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OAuth2Demo:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sso-api-demo.apigateway.co/oauth2/auth
          tokenUrl: https://sso-api-demo.apigateway.co/oauth2/token
          scopes:
            sales.contact: Read-write access to sales contact details
            business:read: Read only access to business details
            business: Read-write access to business details
            partner:read: Read-write access to details about your partner
            financial: Read-write access to financial details
            order: Read-write access to order details
            order:read: Read only access to order details
            user.profile:read: Read access to the profile fields of all categories of users
            user.contact:read: Read access to the contact info (email, phone, address) of all categories of users
            user.permission:read: Read access to the permission info (accessible locations, features and roles) of all categories of users
            user.permission: Read-write access to the permission info (accessible locations, features and roles) of all categories of users
            user.admin: Read-write access to manage all users
            user.list: '''Allows searching for users based on a set of filters. (ex: email, name, category, organization). Without this scope an exact user id is required.'
            self.user.admin: Allows editing the profile, contact info and profile image for the current user.
            self.user.contact:read: Read access to the contact info (email, phone, address) of the current user.
            openid: Allows getting the user id of the current user
            profile: Readonly access to the user profile, including name, locale, and language preferences.
            email: Allows readonly access to the email of the current user.
            phone: Allows readonly access to the phone numbers of the current user.
            address: Allows readonly access to the address of the current user.
            sales.account: Allows read-write access to account records
            sales.proposals: Allows read-write access to proposals
            product: Read access to the product details
            automation:read: Read only access to automations
          refreshUrl: ''
    OAuth2Prod:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sso-api-prod.apigateway.co/oauth2/auth
          tokenUrl: https://sso-api-prod.apigateway.co/oauth2/token
          scopes:
            sales.contact: Read-write access to sales contact details
            business:read: Read only access to business details
            business: Read-write access to business details
            partner:read: Read-write access to details about your partner
            financial: Read-write access to financial details
            order:read: Read only access to order details
            order: Read-write access to order details
            user.profile:read: Read access to the profile fields of all categories of users
            user.contact:read: Read access to the contact info (email, phone, address) of all categories of users
            user.permission:read: Read access to the permission info (accessible locations, features and roles) of all categories of users
            user.permission: Read-write access to the permission info (accessible locations, features and roles) of all categories of users
            user.admin: Read-write access to manage all users
            user.list: '''Allows searching for users based on a set of filters. (ex: email, name, category, organization). Without this scope an exact user id is required.'
            self.user.admin: Allows editing the profile, contact info and profile image for the current user.
            self.user.contact:read: Read access to the contact info (email, phone, address) of the current user.
            openid: Allows getting the user id of the current user
            profile: Readonly access to the user profile, including name, locale, and language preferences.
            email: Allows readonly access to the email of the current user.
            phone: Allows readonly access to the phone numbers of the current user.
            address: Allows readonly access to the address of the current user.
            sales.account: Allows read-write access to account records
            sales.proposals: Allows read-write access to proposals
            product: Read access to the product details
            automation:read: Read only access to automations
          refreshUrl: ''
