openapi: 3.2.0
info:
  title: Platform REST Automations API
  version: Evergreen
servers:
- url: https://prod.apigateway.co/platform
  description: Production
- description: Demo
  url: https://demo.apigateway.co/platform
- description: Local
  url: '{local}/platform'
- url: http://localhost:11001/platform
  description: Localhost
tags:
- name: Automations
paths:
  /automations:
    parameters: []
    options:
      operationId: options-automations
      tags:
      - Automations
      summary: List valid HTTP verbs for /automations
      description: 'Used solely for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the OPTIONS request returns the list of possible HTTP methods and other headers that browsers use to protect user''s security. You should not call this operation directly. '
      responses:
        '204':
          description: No Content
    get:
      summary: List Automations
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: A list of automations
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/automations'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        description: Provides a link back to the first page of results
                        format: uri
                        example: https://prod.apigateway.co/platform/automations?filter[businessPartner.id]=ABC&page[cursor]=&page[limit]=1
                      next:
                        type: string
                        description: The URI at which the next batch of automations can be gotten from
                        format: uri
                        example: https://prod.apigateway.co/platform/automations?filter[businessPartner.id]=ABC&page[cursor]=Cg8aDUFHLTIyV1YyODVKSjY=&page[limit]=1
              examples: {}
      operationId: list-automations
      x-lifecycle:
        status: proposed
      description: '[Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Proposed`


        Returns a list of automations.'
      parameters:
      - schema:
          type: string
          example: Bearer <Access Token>
          pattern: ^Bearer\s\S+
        in: header
        name: Authorization
        description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
        required: true
      - schema:
          type: string
        in: query
        name: filter[name]
        description: Returns automations which name's partially match the provided string, case insensitive
      - schema:
          type: array
          items:
            type: string
            enum:
            - 'on'
            - 'off'
            - draining
          example: 'on'
        in: query
        name: filter[statuses]
        description: 'Returns automations matching the provided state, can be: on, off, draining'
      - schema:
          type: array
          items:
            type: string
        in: query
        name: filter[tags]
        description: Only return automations with all of the specified tags. You may either provide a comma-separated list of tags or specify the parameter multiple times.
      - $ref: '#/components/parameters/pageCursor'
      - $ref: '#/components/parameters/pageLimit'
      - schema:
          type: string
          enum:
          - TaskDefinition-manual-api-order-trigger
          - TaskDefinition-manual-api-account-trigger
          example: TaskDefinition-manual-api-order-trigger
        in: query
        name: filter[trigger]
        description: Returns automations which have a trigger matching the provided value.
      - schema:
          type: string
        in: query
        name: filter[namespace]
        description: Returns automations for the provided namespace. The namespace is a unique identifier for the automation which can be a partner ID or account ID.
        required: true
      security:
      - OAuth2Demo:
        - automation:read
      - OAuth2Prod:
        - automation:read
      tags:
      - Automations
  /automations/{id}:
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
    options:
      operationId: options-automations-id
      tags:
      - Automations
      summary: List valid HTTP verbs for /automations/{id}
      description: 'Used solely for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the OPTIONS request returns the list of possible HTTP methods and other headers that browsers use to protect user''s security. You should not call this operation directly. '
      responses:
        '204':
          description: No Content
    get:
      summary: Get Automation
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/automations'
                  links:
                    type: object
                    properties:
                      self:
                        type: string
              examples: {}
      operationId: get-automation-by-id
      x-lifecycle:
        status: trustedTester
      description: '[Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Trusted Tester`


        Returns basic data about the automation.'
      parameters:
      - schema:
          type: string
          example: Bearer <Access Token>
          pattern: ^Bearer\s\S+
        in: header
        name: Authorization
        description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
        required: true
      security:
      - OAuth2Demo:
        - automation:read
      - OAuth2Prod:
        - automation:read
      tags:
      - Automations
components:
  parameters:
    pageCursor:
      name: page[cursor]
      in: query
      required: false
      schema:
        type: string
      description: The cursor stores all your filters and current location in the list to allow paging over the results in smaller batches. The value will be provided in the response links. [Pagination Docs](https://developers.vendasta.com/platform/ZG9jOjEwMTkzMDg0-overview#paging).
    pageLimit:
      name: page[limit]
      in: query
      required: false
      schema:
        type: number
        maximum: 100
        minimum: 1
        default: 25
      description: The maximum number of items you would like returned in a single batch. Use the links.next member in the response to get the next batch. [Pagination Docs](https://developers.vendasta.com/platform/ZG9jOjEwMTkzMDg0-overview#paging).
  schemas:
    automations:
      title: Automation
      type: object
      description: '[Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Trusted Tester`


        An Automation is a trigger and set of actions performed when the trigger is activated.'
      x-tags:
      - Automations
      x-examples: {}
      properties:
        type:
          type: string
          default: automations
          enum:
          - automations
          example: automations
          readOnly: true
        id:
          type: string
          example: Automation-91cb048c-c498-43ba-ab99-2ca2d27d2c46
          pattern: ^Automation-
        attributes:
          type: object
          properties:
            name:
              type: string
              example: Example Automation
              description: The name of the automation
              readOnly: true
            trigger:
              type: string
              description: The triggering action for the automation
              enum:
              - TaskDefinition-manual-api-order-trigger
              - TaskDefinition-manual-api-account-trigger
              example: TaskDefinition-manual-account-trigger
            status:
              type: string
              description: 'The current status of the automation, one of: on, off, draining'
              example: 'on'
              enum:
              - 'on'
              - draining
              - 'off'
              readOnly: true
            tags:
              type: array
              description: A list of user-defined tags on the automation
              items:
                type: string
                example: example-tag
              readOnly: true
            customParameters:
              type: array
              readOnly: true
              x-stoplight:
                id: 5t9ro1pimpdz3
              items:
                x-stoplight:
                  id: t4wymxwy7lems
                type: object
                properties:
                  type:
                    type: string
                    readOnly: true
                    x-stoplight:
                      id: 1w0n4zmhr05mg
                    enum:
                    - string
                    - boolean
                    description: Data type of the parameter
                  id:
                    type: string
                    readOnly: true
                    x-stoplight:
                      id: uz2kmvow8sewq
                  name:
                    type: string
                    readOnly: true
                    x-stoplight:
                      id: t4qas99egphxz
      required:
      - type
      - id
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OAuth2Demo:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sso-api-demo.apigateway.co/oauth2/auth
          tokenUrl: https://sso-api-demo.apigateway.co/oauth2/token
          scopes:
            sales.contact: Read-write access to sales contact details
            business:read: Read only access to business details
            business: Read-write access to business details
            partner:read: Read-write access to details about your partner
            financial: Read-write access to financial details
            order: Read-write access to order details
            order:read: Read only access to order details
            user.profile:read: Read access to the profile fields of all categories of users
            user.contact:read: Read access to the contact info (email, phone, address) of all categories of users
            user.permission:read: Read access to the permission info (accessible locations, features and roles) of all categories of users
            user.permission: Read-write access to the permission info (accessible locations, features and roles) of all categories of users
            user.admin: Read-write access to manage all users
            user.list: '''Allows searching for users based on a set of filters. (ex: email, name, category, organization). Without this scope an exact user id is required.'
            self.user.admin: Allows editing the profile, contact info and profile image for the current user.
            self.user.contact:read: Read access to the contact info (email, phone, address) of the current user.
            openid: Allows getting the user id of the current user
            profile: Readonly access to the user profile, including name, locale, and language preferences.
            email: Allows readonly access to the email of the current user.
            phone: Allows readonly access to the phone numbers of the current user.
            address: Allows readonly access to the address of the current user.
            sales.account: Allows read-write access to account records
            sales.proposals: Allows read-write access to proposals
            product: Read access to the product details
            automation:read: Read only access to automations
          refreshUrl: ''
    OAuth2Prod:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sso-api-prod.apigateway.co/oauth2/auth
          tokenUrl: https://sso-api-prod.apigateway.co/oauth2/token
          scopes:
            sales.contact: Read-write access to sales contact details
            business:read: Read only access to business details
            business: Read-write access to business details
            partner:read: Read-write access to details about your partner
            financial: Read-write access to financial details
            order:read: Read only access to order details
            order: Read-write access to order details
            user.profile:read: Read access to the profile fields of all categories of users
            user.contact:read: Read access to the contact info (email, phone, address) of all categories of users
            user.permission:read: Read access to the permission info (accessible locations, features and roles) of all categories of users
            user.permission: Read-write access to the permission info (accessible locations, features and roles) of all categories of users
            user.admin: Read-write access to manage all users
            user.list: '''Allows searching for users based on a set of filters. (ex: email, name, category, organization). Without this scope an exact user id is required.'
            self.user.admin: Allows editing the profile, contact info and profile image for the current user.
            self.user.contact:read: Read access to the contact info (email, phone, address) of the current user.
            openid: Allows getting the user id of the current user
            profile: Readonly access to the user profile, including name, locale, and language preferences.
            email: Allows readonly access to the email of the current user.
            phone: Allows readonly access to the phone numbers of the current user.
            address: Allows readonly access to the address of the current user.
            sales.account: Allows read-write access to account records
            sales.proposals: Allows read-write access to proposals
            product: Read access to the product details
            automation:read: Read only access to automations
          refreshUrl: ''
