openapi: 3.2.0
info:
  title: CRM Custom Object Type Service API
  version: 0.157.0
servers:
- description: Production
  url: https://prod.apigateway.co/grpc
tags:
- name: CRMCustomObjectTypeService
paths:
  /v1/crm/custom-object-type/create:
    post:
      operationId: CRMCustomObjectTypeService_CreateCustomObjectType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateCustomObjectTypeRequest'
        description: Request to create a new custom object type within a namespace.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateCustomObjectTypeResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - OAuth2:
        - crm
      summary: Create Custom Object Type
      tags:
      - CRMCustomObjectTypeService
  /v1/crm/custom-object-type/delete:
    post:
      operationId: CRMCustomObjectTypeService_DeleteCustomObjectType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DeleteCustomObjectTypeRequest'
        description: Request to delete a custom object type within a namespace.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - OAuth2:
        - crm
      summary: Delete Custom Object Type
      tags:
      - CRMCustomObjectTypeService
  /v1/crm/custom-object-type/get-multi:
    post:
      operationId: CRMCustomObjectTypeService_GetMultiCustomObjectType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetMultiCustomObjectTypeRequest'
        description: Request to retrieve multiple custom object types by their IDs within a namespace.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetMultiCustomObjectTypeResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - OAuth2:
        - crm
      summary: Get Multi Custom Object Type
      tags:
      - CRMCustomObjectTypeService
  /v1/crm/custom-object-type/list:
    post:
      operationId: CRMCustomObjectTypeService_ListCustomObjectTypes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListCustomObjectTypesRequest'
        description: Request to list all custom object types within a namespace.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListCustomObjectTypesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - OAuth2:
        - crm
      summary: List Custom Object Types
      tags:
      - CRMCustomObjectTypeService
  /v1/crm/custom-object-type/update:
    post:
      operationId: CRMCustomObjectTypeService_UpdateCustomObjectType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateCustomObjectTypeRequest'
        description: Request to update an existing custom object type within a namespace.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - OAuth2:
        - crm
      summary: Update Custom Object Type
      tags:
      - CRMCustomObjectTypeService
components:
  schemas:
    rpcStatus:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
        message:
          type: string
      type: object
    v1ListCustomObjectTypesResponse:
      description: Response containing all custom object types in the namespace.
      properties:
        customObjectTypes:
          description: Output only. The custom object types in the namespace.
          items:
            $ref: '#/components/schemas/v1CustomObjectType'
          readOnly: true
          type: array
      title: List Custom Object Types Response
      type: object
    v1CreateCustomObjectTypeRequest:
      description: Request to create a new custom object type within a namespace.
      properties:
        customObjectType:
          $ref: '#/components/schemas/v1CustomObjectType'
        namespace:
          description: Required. The namespace (partner ID or account group ID) the custom object type will belong to.
          type: string
      required:
      - namespace
      - customObjectType
      title: Create Custom Object Type Request
      type: object
    v1UpdateCustomObjectTypeRequest:
      description: Request to update an existing custom object type within a namespace.
      properties:
        customObjectType:
          $ref: '#/components/schemas/v1CustomObjectType'
        fieldMask:
          $ref: '#/components/schemas/vendastatypesFieldMask'
        namespace:
          description: Required. The namespace (partner ID or account group ID) the custom object type belongs to.
          type: string
      required:
      - namespace
      - customObjectType
      title: Update Custom Object Type Request
      type: object
    v1GetMultiCustomObjectTypeResponse:
      description: Response containing the requested custom object types.
      properties:
        customObjectTypes:
          description: Output only. The retrieved custom object types.
          items:
            $ref: '#/components/schemas/v1CustomObjectType'
          readOnly: true
          type: array
      title: Get Multi Custom Object Type Response
      type: object
    v1CustomObjectType:
      description: Defines a partner-created custom object type in the CRM, including its display names and system-managed timestamps.
      properties:
        created:
          description: Output only. The time the custom object type was created.
          format: date-time
          readOnly: true
          type: string
        customObjectTypeId:
          description: The unique identifier of the custom object type. Assigned by the system on create; must be provided on update.
          type: string
        deleted:
          description: Output only. The time the custom object type was soft-deleted. Zero value if it has not been deleted.
          format: date-time
          readOnly: true
          type: string
        namespace:
          description: Output only. The namespace (partner ID or account group ID) the custom object type belongs to.
          readOnly: true
          type: string
        pluralObjectName:
          description: Required on Create. The plural display name for this custom object type (e.g. "Projects").
          type: string
        singularObjectName:
          description: Required on Create. The singular display name for this custom object type (e.g. "Project").
          type: string
        updated:
          description: Output only. The time the custom object type was last updated.
          format: date-time
          readOnly: true
          type: string
      title: Custom Object Type
      type: object
    v1CreateCustomObjectTypeResponse:
      description: Response containing the identifier of the newly created custom object type.
      properties:
        customObjectTypeId:
          description: Output only. The unique identifier of the newly created custom object type.
          readOnly: true
          type: string
      title: Create Custom Object Type Response
      type: object
    vendastatypesFieldMask:
      description: "paths: \"f.a\"\n    paths: \"f.b.d\"\n\nHere `f` represents a field in some root message, `a` and `b`\nfields in the message found in `f`, and `d` a field found in the\nmessage in `f.b`.\n\nField masks are used to specify a subset of fields that should be\nreturned by a get operation or modified by an update operation.\nField masks also have a custom JSON encoding (see below).\n\n# Field Masks in Projections\n\nWhen used in the context of a projection, a response message or\nsub-message is filtered by the API to only contain those fields as\nspecified in the mask. For example, if the mask in the previous\nexample is applied to a response message as follows:\n\n    f {\n      a : 22\n      b {\n        d : 1\n        x : 2\n      }\n      y : 13\n    }\n    z: 8\n\nThe result will not contain specific values for fields x,y and z\n(their value will be set to the default, and omitted in proto text\noutput):\n\n\n    f {\n      a : 22\n      b {\n        d : 1\n      }\n    }\n\nA repeated field is not allowed except at the last position of a\npaths string.\n\nIf a FieldMask object is not present in a get operation, the\noperation applies to all fields (as if a FieldMask of all fields\nhad been specified).\n\nNote that a field mask does not necessarily apply to the\ntop-level response message. In case of a REST get operation, the\nfield mask applies directly to the response, but in case of a REST\nlist operation, the mask instead applies to each individual message\nin the returned resource list. In case of a REST custom method,\nother definitions may be used. Where the mask applies will be\nclearly documented together with its declaration in the API.  In\nany case, the effect on the returned resource/resources is required\nbehavior for APIs.\n\n# Field Masks in Update Operations\n\nA field mask in update operations specifies which fields of the\ntargeted resource are going to be updated. The API is required\nto only change the values of the fields as specified in the mask\nand leave the others untouched. If a resource is passed in to\ndescribe the updated values, the API ignores the values of all\nfields not covered by the mask.\n\nIf a repeated field is specified for an update operation, the existing\nrepeated values in the target resource will be overwritten by the new values.\nNote that a repeated field is only allowed in the last position of a `paths`\nstring.\n\nIf a sub-message is specified in the last position of the field mask for an\nupdate operation, then the existing sub-message in the target resource is\noverwritten. Given the target message:\n\n    f {\n      b {\n        d : 1\n        x : 2\n      }\n      c : 1\n    }\n\nAnd an update message:\n\n    f {\n      b {\n        d : 10\n      }\n    }\n\nthen if the field mask is:\n\n paths: \"f.b\"\n\nthen the result will be:\n\n    f {\n      b {\n        d : 10\n      }\n      c : 1\n    }\n\nHowever, if the update mask was:\n\n paths: \"f.b.d\"\n\nthen the result would be:\n\n    f {\n      b {\n        d : 10\n        x : 2\n      }\n      c : 1\n    }\n\nIn order to reset a field's value to the default, the field must\nbe in the mask and set to the default value in the provided resource.\nHence, in order to reset all fields of a resource, provide a default\ninstance of the resource and set all fields in the mask, or do\nnot provide a mask as described below.\n\nIf a field mask is not present on update, the operation applies to\nall fields (as if a field mask of all fields has been specified).\nNote that in the presence of schema evolution, this may mean that\nfields the client does not know and has therefore not filled into\nthe request will be reset to their default. If this is unwanted\nbehavior, a specific service may require a client to always specify\na field mask, producing an error if not.\n\nAs with get operations, the location of the resource which\ndescribes the updated values in the request message depends on the\noperation kind. In any case, the effect of the field mask is\nrequired to be honored by the API.\n\n## Considerations for HTTP REST\n\nThe HTTP kind of an update operation which uses a field mask must\nbe set to PATCH instead of PUT in order to satisfy HTTP semantics\n(PUT must only be used for full updates).\n\n# JSON Encoding of Field Masks\n\nIn JSON, a field mask is encoded as a single string where paths are\nseparated by a comma. Fields name in each path are converted\nto/from lower-camel naming conventions.\n\nAs an example, consider the following message declarations:\n\n    message Profile {\n      User user = 1;\n      Photo photo = 2;\n    }\n    message User {\n      string display_name = 1;\n      string address = 2;\n    }\n\nIn proto a field mask for `Profile` may look as such:\n\n    mask {\n      paths: \"user.display_name\"\n      paths: \"photo\"\n    }\n\nIn JSON, the same mask is represented as below:\n\n    {\n      mask: \"user.displayName,photo\"\n    }\n\n# Field Masks and Oneof Fields\n\nField masks treat fields in oneofs just as regular fields. Consider the\nfollowing message:\n\n    message SampleMessage {\n      oneof test_oneof {\n        string name = 4;\n        SubMessage sub_message = 9;\n      }\n    }\n\nThe field mask can be:\n\n    mask {\n      paths: \"name\"\n    }\n\nOr:\n\n    mask {\n      paths: \"sub_message\"\n    }\n\nNote that oneof type names (\"test_oneof\" in this case) cannot be used in\npaths."
      properties:
        paths:
          description: The set of field mask paths.
          items:
            type: string
          type: array
      title: '`FieldMask` represents a set of symbolic field paths, for example:'
      type: object
    v1ListCustomObjectTypesRequest:
      description: Request to list all custom object types within a namespace.
      properties:
        namespace:
          description: Required. The namespace (partner ID or account group ID) to list custom object types for.
          type: string
      required:
      - namespace
      title: List Custom Object Types Request
      type: object
    v1DeleteCustomObjectTypeRequest:
      description: Request to delete a custom object type within a namespace.
      properties:
        customObjectTypeId:
          description: Required. The identifier of the custom object type to delete.
          type: string
        namespace:
          description: Required. The namespace (partner ID or account group ID) the custom object type belongs to.
          type: string
      required:
      - namespace
      - customObjectTypeId
      title: Delete Custom Object Type Request
      type: object
    protobufAny:
      additionalProperties: {}
      properties:
        '@type':
          type: string
      type: object
    v1GetMultiCustomObjectTypeRequest:
      description: Request to retrieve multiple custom object types by their IDs within a namespace.
      properties:
        customObjectTypeIds:
          description: Required. The identifiers of the custom object types to retrieve.
          items:
            type: string
          type: array
        includeDeleted:
          description: Optional. When true, soft-deleted custom object types are included in the response instead of being returned as nil.
          type: boolean
        namespace:
          description: Required. The namespace (partner ID or account group ID) the custom object types belong to.
          type: string
      required:
      - namespace
      - customObjectTypeIds
      title: Get Multi Custom Object Type Request
      type: object
  securitySchemes:
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://sso-api-prod.apigateway.co/oauth2/auth
          scopes:
            crm: Allows the application to manage all data in your CRM
            crm.association: Allows the application to manage associations in your CRM
            crm.association:read: Allows the application view-only access to associations in your CRM
            crm.company: Allows the application to manage your CRM companies
            crm.company:read: Allows the application view-only access to CRM companies
            crm.contact: Allows the application to manage your CRM contacts
            crm.contact:read: Allows the application view-only access to CRM contacts
            crm.custom-object: Allows the application to manage your CRM custom objects
            crm.custom-object:read: Allows the application view-only access to CRM custom objects
            crm.opportunity: Allows the application to manage your CRM opportunities
            crm.opportunity:read: Allows the application view-only access to CRM opportunities
            crm.schema: Allows the application to manage your CRM object schemas
            crm.schema:read: Allows the application view-only access to CRM object schemas
          tokenUrl: https://sso-api-prod.apigateway.co/oauth2/token
      type: oauth2
