openapi: 3.2.0
info:
  title: Reputation Review Service API
  version: 4.34.0
servers:
- description: Production
  url: https://prod.apigateway.co/grpc
tags:
- name: ReviewService
paths:
  /v1/reputation/reviews/can-respond:
    post:
      operationId: ReviewService_CanRespondToReview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CanRespondToReviewRequest'
        description: Request message for checking whether a review supports responses.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CanRespondToReviewResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - OAuth2:
        - business-app
      summary: Can Respond To Review
      tags:
      - ReviewService
  /v1/reputation/reviews/comments/create:
    post:
      operationId: ReviewService_CreateReviewComment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateReviewCommentRequest'
        description: Request message for creating a comment on a review.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateReviewCommentResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - OAuth2:
        - business-app
      summary: Create Review Comment
      tags:
      - ReviewService
  /v1/reputation/reviews/comments/update:
    post:
      operationId: ReviewService_UpdateReviewComment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateReviewCommentRequest'
        description: Request message for updating the text of a review comment.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateReviewCommentResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - OAuth2:
        - business-app
      summary: Update Review Comment
      tags:
      - ReviewService
  /v1/reputation/reviews/get-multi:
    post:
      operationId: ReviewService_GetReviews
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetReviewsRequest'
        description: Request message for retrieving a set of reviews by their identifiers.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetReviewsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - OAuth2:
        - business-app
      summary: Get Reviews
      tags:
      - ReviewService
  /v1/reputation/reviews/history:
    post:
      operationId: ReviewService_GetReviewHistory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ReviewHistoryRequest'
        description: Request message for retrieving the history of a review.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ReviewHistoryResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - OAuth2:
        - business-app
      summary: Get Review History
      tags:
      - ReviewService
  /v1/reputation/reviews/review-metrics:
    post:
      description: Get review metrics by namespaces.
      operationId: ReviewService_GetReviewMetrics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetReviewMetricsRequest'
        description: Request message for retrieving review metrics for one or more business namespaces.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetReviewMetricsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - OAuth2:
        - business-app
        - reputation
        - reputation.review:read
      summary: Get review metrics
      tags:
      - ReviewService
  /v1/reputation/reviews/search:
    post:
      description: Search reviews by their IDs.
      operationId: ReviewService_SearchReviews
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SearchReviewsRequest'
        description: Request message for searching customer reviews with filtering and pagination.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SearchReviewsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - OAuth2:
        - business-app
        - reputation
        - reputation.review:read
      summary: Search reviews
      tags:
      - ReviewService
  /v1/reputation/reviews/third-party-publish-settings:
    post:
      operationId: ReviewService_GetMultiThirdPartyReviewPublishSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetMultiThirdPartyReviewPublishSettingsRequest'
        description: Request message for retrieving third-party review publish settings for multiple account groups.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetMultiThirdPartyReviewPublishSettingsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - OAuth2:
        - business-app
      summary: Get Multi Third Party Review Publish Settings
      tags:
      - ReviewService
  /v1/reputation/reviews/update:
    post:
      operationId: ReviewService_UpdateReview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateReviewRequest'
        description: Request message for updating a review's action status and publish settings.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateReviewResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - OAuth2:
        - business-app
      summary: Update Review
      tags:
      - ReviewService
  /v1/reputation/reviews/user-deleted-info:
    post:
      operationId: ReviewService_UpdateReviewUserDeletedInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateReviewUserDeletedInfoRequest'
        description: Request message for updating the user-deleted status on a review.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - OAuth2:
        - business-app
      summary: Update Review User Deleted Info
      tags:
      - ReviewService
components:
  schemas:
    rpcStatus:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
        message:
          type: string
      type: object
    v1ThirdPartyPublishedStatus:
      default: THIRD_PARTY_PUBLISHED_STATUS_EMPTY
      description: '- THIRD_PARTY_PUBLISHED_STATUS_EMPTY: Empty means the auto-publish minimum rating setting determines whether it''s published or not'
      enum:
      - THIRD_PARTY_PUBLISHED_STATUS_EMPTY
      - THIRD_PARTY_PUBLISHED_STATUS_TRUE
      - THIRD_PARTY_PUBLISHED_STATUS_FALSE
      title: Enum for review third party published status
      type: string
    v1UpdateReviewCommentRequest:
      description: Request message for updating the text of a review comment.
      properties:
        reviewCommentContent:
          description: Required. The updated content of the review comment.
          type: string
        reviewCommentId:
          description: Required. The ID of the review comment to update.
          type: string
      required:
      - reviewCommentId
      - reviewCommentContent
      title: Update Review Comment Request
      type: object
    vendastatypesFieldMask:
      description: "paths: \"f.a\"\n    paths: \"f.b.d\"\n\nHere `f` represents a field in some root message, `a` and `b`\nfields in the message found in `f`, and `d` a field found in the\nmessage in `f.b`.\n\nField masks are used to specify a subset of fields that should be\nreturned by a get operation or modified by an update operation.\nField masks also have a custom JSON encoding (see below).\n\n# Field Masks in Projections\n\nWhen used in the context of a projection, a response message or\nsub-message is filtered by the API to only contain those fields as\nspecified in the mask. For example, if the mask in the previous\nexample is applied to a response message as follows:\n\n    f {\n      a : 22\n      b {\n        d : 1\n        x : 2\n      }\n      y : 13\n    }\n    z: 8\n\nThe result will not contain specific values for fields x,y and z\n(their value will be set to the default, and omitted in proto text\noutput):\n\n\n    f {\n      a : 22\n      b {\n        d : 1\n      }\n    }\n\nA repeated field is not allowed except at the last position of a\npaths string.\n\nIf a FieldMask object is not present in a get operation, the\noperation applies to all fields (as if a FieldMask of all fields\nhad been specified).\n\nNote that a field mask does not necessarily apply to the\ntop-level response message. In case of a REST get operation, the\nfield mask applies directly to the response, but in case of a REST\nlist operation, the mask instead applies to each individual message\nin the returned resource list. In case of a REST custom method,\nother definitions may be used. Where the mask applies will be\nclearly documented together with its declaration in the API.  In\nany case, the effect on the returned resource/resources is required\nbehavior for APIs.\n\n# Field Masks in Update Operations\n\nA field mask in update operations specifies which fields of the\ntargeted resource are going to be updated. The API is required\nto only change the values of the fields as specified in the mask\nand leave the others untouched. If a resource is passed in to\ndescribe the updated values, the API ignores the values of all\nfields not covered by the mask.\n\nIf a repeated field is specified for an update operation, the existing\nrepeated values in the target resource will be overwritten by the new values.\nNote that a repeated field is only allowed in the last position of a `paths`\nstring.\n\nIf a sub-message is specified in the last position of the field mask for an\nupdate operation, then the existing sub-message in the target resource is\noverwritten. Given the target message:\n\n    f {\n      b {\n        d : 1\n        x : 2\n      }\n      c : 1\n    }\n\nAnd an update message:\n\n    f {\n      b {\n        d : 10\n      }\n    }\n\nthen if the field mask is:\n\n paths: \"f.b\"\n\nthen the result will be:\n\n    f {\n      b {\n        d : 10\n      }\n      c : 1\n    }\n\nHowever, if the update mask was:\n\n paths: \"f.b.d\"\n\nthen the result would be:\n\n    f {\n      b {\n        d : 10\n        x : 2\n      }\n      c : 1\n    }\n\nIn order to reset a field's value to the default, the field must\nbe in the mask and set to the default value in the provided resource.\nHence, in order to reset all fields of a resource, provide a default\ninstance of the resource and set all fields in the mask, or do\nnot provide a mask as described below.\n\nIf a field mask is not present on update, the operation applies to\nall fields (as if a field mask of all fields has been specified).\nNote that in the presence of schema evolution, this may mean that\nfields the client does not know and has therefore not filled into\nthe request will be reset to their default. If this is unwanted\nbehavior, a specific service may require a client to always specify\na field mask, producing an error if not.\n\nAs with get operations, the location of the resource which\ndescribes the updated values in the request message depends on the\noperation kind. In any case, the effect of the field mask is\nrequired to be honored by the API.\n\n## Considerations for HTTP REST\n\nThe HTTP kind of an update operation which uses a field mask must\nbe set to PATCH instead of PUT in order to satisfy HTTP semantics\n(PUT must only be used for full updates).\n\n# JSON Encoding of Field Masks\n\nIn JSON, a field mask is encoded as a single string where paths are\nseparated by a comma. Fields name in each path are converted\nto/from lower-camel naming conventions.\n\nAs an example, consider the following message declarations:\n\n    message Profile {\n      User user = 1;\n      Photo photo = 2;\n    }\n    message User {\n      string display_name = 1;\n      string address = 2;\n    }\n\nIn proto a field mask for `Profile` may look as such:\n\n    mask {\n      paths: \"user.display_name\"\n      paths: \"photo\"\n    }\n\nIn JSON, the same mask is represented as below:\n\n    {\n      mask: \"user.displayName,photo\"\n    }\n\n# Field Masks and Oneof Fields\n\nField masks treat fields in oneofs just as regular fields. Consider the\nfollowing message:\n\n    message SampleMessage {\n      oneof test_oneof {\n        string name = 4;\n        SubMessage sub_message = 9;\n      }\n    }\n\nThe field mask can be:\n\n    mask {\n      paths: \"name\"\n    }\n\nOr:\n\n    mask {\n      paths: \"sub_message\"\n    }\n\nNote that oneof type names (\"test_oneof\" in this case) cannot be used in\npaths."
      properties:
        paths:
          description: The set of field mask paths.
          items:
            type: string
          type: array
      title: '`FieldMask` represents a set of symbolic field paths, for example:'
      type: object
    v1GetReviewMetricsResponse:
      description: Response message containing review metrics grouped by namespace.
      properties:
        metricsForNamespace:
          description: Output only. Review metrics grouped by namespace.
          items:
            $ref: '#/components/schemas/v1ReviewMetrics'
          readOnly: true
          type: array
      title: Get Review Metrics Response
      type: object
    v1ReviewMetrics:
      description: Aggregated review metrics for a single namespace, broken down by source platform.
      properties:
        metricsForSource:
          description: Output only. Review metrics broken down by source platform.
          items:
            $ref: '#/components/schemas/v1MetricsForSource'
          readOnly: true
          type: array
        namespace:
          description: Output only. The ID of the namespace the metrics are fetched for. A namespace may be an account_group_id (AG-) or multi-location-group (G-).
          readOnly: true
          type: string
      title: Review Metrics
      type: object
    v1CreateReviewCommentResponse:
      description: Response message containing the created review comment details.
      properties:
        commentId:
          description: Output only. The ID of the created comment.
          readOnly: true
          type: string
        commentText:
          description: Output only. The text content of the comment.
          readOnly: true
          type: string
        commenterName:
          description: Output only. The name of the commenter.
          readOnly: true
          type: string
        created:
          description: Output only. The creation date of the comment.
          format: date-time
          readOnly: true
          type: string
        postedByOwner:
          description: Output only. Whether this comment is a post by the owner of the listing being reviewed.
          readOnly: true
          type: boolean
        published:
          description: Output only. The published date of the comment.
          format: date-time
          readOnly: true
          type: string
      title: Create Review Comment Response
      type: object
    v1ReviewHistoryResponse:
      description: Response message containing the history entries for a review.
      properties:
        reviewHistory:
          description: Output only. The history entries for the review.
          items:
            $ref: '#/components/schemas/v1ReviewHistory'
          readOnly: true
          type: array
      title: Review History Response
      type: object
    v1GetMultiThirdPartyReviewPublishSettingsRequest:
      description: Request message for retrieving third-party review publish settings for multiple account groups.
      properties:
        accountGroupIds:
          description: Required. The account group IDs to retrieve publish settings for.
          items:
            type: string
          type: array
      required:
      - accountGroupIds
      title: Get Multi Third Party Review Publish Settings Request
      type: object
    v1Reviewer:
      description: Person who wrote a review, including their display name and contact details.
      properties:
        email:
          description: Output only. Email address. Often empty due to platform privacy settings.
          readOnly: true
          type: string
        name:
          description: Output only. Display name as shown on platform (e.g., "John Doe" or "Jane D.").
          readOnly: true
          type: string
        url:
          description: Output only. URL to reviewer's profile on the platform. May be empty.
          readOnly: true
          type: string
      title: Reviewer
      type: object
    v1MetricsForSource:
      description: Review metrics for a single source platform, including rating distribution and response statistics.
      properties:
        ratingFiveStar:
          description: Output only. Number of 5 star ratings from this source.
          format: int64
          readOnly: true
          type: string
        ratingFourStar:
          description: Output only. Number of 4 star ratings from this source.
          format: int64
          readOnly: true
          type: string
        ratingNone:
          description: Output only. Number of reviews with no rating from this source.
          format: int64
          readOnly: true
          type: string
        ratingOneStar:
          description: Output only. Number of 1 star ratings from this source.
          format: int64
          readOnly: true
          type: string
        ratingThreeStar:
          description: Output only. Number of 3 star ratings from this source.
          format: int64
          readOnly: true
          type: string
        ratingTwoStar:
          description: Output only. Number of 2 star ratings from this source.
          format: int64
          readOnly: true
          type: string
        respondedTo:
          description: 'Output only. Number of reviews responded to by the business on this source.

            Only applies to sources that support business responses in platform.'
          format: int64
          readOnly: true
          type: string
        responseRate:
          description: Output only. The percentage of reviews responded to from this source.
          format: float
          readOnly: true
          type: number
        responseTimeHours:
          description: Output only. The average number of hours it takes to respond to reviews from this source.
          format: float
          readOnly: true
          type: number
        reviewRating:
          description: Output only. The average rating from this source.
          format: float
          readOnly: true
          type: number
        sourceName:
          description: Output only. The name of the site that the reviews are from.
          readOnly: true
          type: string
        totalReviews:
          description: Output only. Total number of reviews from this source.
          format: int64
          readOnly: true
          type: string
      title: Metrics For Source
      type: object
    v1CanRespondToReviewRequest:
      description: Request message for checking whether a review supports responses.
      properties:
        businessId:
          description: Required. The ID of the business owning the review.
          type: string
        reviewId:
          description: Required. The ID of the review being responded to.
          type: string
      required:
      - businessId
      - reviewId
      title: Can Respond To Review Request
      type: object
    v1CanRespondToReviewResponse:
      description: Response message indicating whether a review supports responses.
      properties:
        canRespond:
          description: Output only. Represents whether or not the response is supported.
          readOnly: true
          type: boolean
        unsupportedReason:
          description: Output only. A message with the reason the review doesn't support responses.
          readOnly: true
          type: string
      title: Can Respond To Review Response
      type: object
    v1ReviewComment:
      description: A business response or comment on a customer review.
      properties:
        accountGroupId:
          description: Output only. Business account ID (starts with "AG-").
          readOnly: true
          type: string
        commentId:
          description: Output only. Unique identifier (e.g., "ReviewCommentModelV2-E7113B2DCBD9471DB494D845AEB2D9C5").
          readOnly: true
          type: string
        created:
          description: Output only. When comment was created in the system (RFC3339 UTC).
          format: date-time
          readOnly: true
          type: string
        email:
          description: Output only. Email address of commenter.
          readOnly: true
          type: string
        externalId:
          description: Output only. Platform's native identifier for this comment.
          readOnly: true
          type: string
        modified:
          description: Output only. When comment was last updated in the system (RFC3339 UTC).
          format: date-time
          readOnly: true
          type: string
        name:
          description: Output only. Display name of commenter (e.g., "Owner" or business name).
          readOnly: true
          type: string
        postedByAi:
          description: Output only. Whether automatically posted by the reputation specialist (true) or someone else (false).
          readOnly: true
          type: boolean
        postedByDigitAgent:
          description: Output only. Whether posted by a digital agent (true) or manually by a human (false).
          readOnly: true
          type: boolean
        postedByOwner:
          description: Output only. Whether posted by the business owner (true) or someone else (false).
          readOnly: true
          type: boolean
        published:
          description: Output only. When comment was published on the review platform (RFC3339 UTC).
          format: date-time
          readOnly: true
          type: string
        reviewId:
          description: Output only. Parent review ID (starts with "RVW-").
          readOnly: true
          type: string
        text:
          description: Output only. Full text content of the business's response.
          readOnly: true
          type: string
      title: Review Comment
      type: object
    v1UpdateReviewRequest:
      description: Request message for updating a review's action status and publish settings.
      properties:
        actionStatus:
          $ref: '#/components/schemas/v1ReviewActionStatus'
        fieldMask:
          $ref: '#/components/schemas/vendastatypesFieldMask'
        isPublished:
          description: Optional. Whether the review is published.
          type: boolean
        isPublishedThirdPartyReview:
          description: Optional. Whether the review is a published third-party review.
          type: boolean
        isSharedByReviewer:
          description: Optional. Whether the review is shared by the reviewer.
          type: boolean
        newComment:
          description: Optional. Whether there is a new comment on the review.
          type: boolean
        reviewId:
          $ref: '#/components/schemas/v1ReviewIdentifier'
      required:
      - reviewId
      title: Update Review Request
      type: object
    v1UpdateReviewUserDeletedInfoRequest:
      description: Request message for updating the user-deleted status on a review.
      properties:
        deletedStatus:
          $ref: '#/components/schemas/v1ReviewDeletedStatus'
        reviewId:
          description: Required. The ID of the review to update.
          type: string
        userId:
          description: Required. The ID of the user performing the action.
          type: string
      required:
      - reviewId
      - userId
      - deletedStatus
      title: Update Review User Deleted Info Request
      type: object
    v1SearchReviewsRequest:
      description: Request message for searching customer reviews with filtering and pagination.
      properties:
        accountGroupId:
          description: Required. Business account ID (starts with "AG-").
          type: string
        cursor:
          description: 'Optional. Pagination cursor from the previous response. Should be omitted when fetching the first page of results.

            For subsequent pages, the cursor value from the previous response should be used.

            Cursors are opaque tokens and must be used exactly as returned. Cursor values should not be generated or modified.'
          type: string
        includeComments:
          description: 'Optional. Include business response comments in results. Default: false.

            Supported platforms: Google (one comment), Facebook, My Listing, Apartments.com, ApartmentRatings.'
          type: boolean
        listingName:
          description: Optional. Listing name to filter reviews for a specific location.
          type: string
        maxDateTime:
          description: Optional. Filter reviews published on or before this date (RFC3339 UTC, inclusive).
          format: date-time
          type: string
        minDateTime:
          description: Optional. Filter reviews published on or after this date (RFC3339 UTC, inclusive).
          format: date-time
          type: string
        orderByCreatedDateDescending:
          description: 'Optional. Sort by system creation date descending (newest first).

            Cannot be true if order_by_published_date_descending is true.'
          type: boolean
        orderByPublishedDateDescending:
          description: 'Optional. Sort by published date descending (newest first).

            Cannot be true if order_by_created_date_descending is true.'
          type: boolean
        pageSize:
          description: Optional. An integer representing the number of reviews returned per page. This value must not exceed 500.
          format: int32
          type: integer
        phrase:
          description: Optional. Search for reviews containing this text (case-insensitive).
          type: string
        rating:
          description: 'Optional. Filter by rating: "1"-"5" (exact), "L" (1-2 stars), "H" (4-5 stars), "N" (no rating).

            Can accept single value or comma-separated list (e.g., "1,3,5" or "L,H").'
          type: string
        ratingValues:
          description: 'Optional. Filter by rating values: "1"-"5" (exact), "L" (1-2 stars), "H" (4-5 stars), "N" (no rating).

            Each entry in this repeated field must be one rating token. (e.g., ["1","3","5"] or ["L","H"]).'
          items:
            type: string
          type: array
        sourceIds:
          description: 'Optional. Filter by internal source platform IDs. This field should only be used when numeric IDs are explicitly available.

            Each entry must be a single ID string. Example: ["10010", "10000", "10050"].

            Note: When filtering by platform names (e.g., "Google", "Yelp"), source_names field should be used instead.'
          items:
            type: string
          type: array
        sourceName:
          description: 'Optional. Filter by source platform (e.g., "Google", "Yelp", "Facebook").

            Can accept single value or comma-separated list. (e.g., "Google,Yelp").'
          type: string
        sourceNames:
          description: Filter results to one or more source platforms. Matching is case-insensitive and ignores spaces and domain suffixes, so ApartmentRatings, Apartment Ratings and apartmentratings.com all match the same platform. Provide one entry per platform, for example Google, Yelp, Facebook. Omit this field to return reviews from every platform. An empty result means either the platform has no reviews in the requested date range or the name did not match a source connected to the business.
          items:
            type: string
          type: array
      required:
      - accountGroupId
      title: Search Reviews Request
      type: object
    v1CreateReviewCommentRequest:
      description: Request message for creating a comment on a review.
      properties:
        commentText:
          description: Required. The text content of the comment.
          type: string
        commenterEmail:
          description: Optional. The email of the commenter.
          type: string
        commenterName:
          description: Optional. The name of the commenter.
          type: string
        postedByDigitalAgent:
          description: Optional. Whether this comment is posted by a digital agent.
          type: boolean
        postedByOwner:
          description: Optional. Whether this comment is posted by the listing owner.
          type: boolean
        reviewId:
          $ref: '#/components/schemas/v1ReviewIdentifier'
        shouldPublish:
          description: Optional. Whether the comment should be published immediately.
          type: boolean
      required:
      - reviewId
      - commentText
      title: Create Review Comment Request
      type: object
    v1ReviewDeletedStatus:
      default: REVIEW_DELETED_STATUS_EMPTY
      enum:
      - REVIEW_DELETED_STATUS_EMPTY
      - REVIEW_DELETED_STATUS_USER_REMOVED
      - REVIEW_DELETED_STATUS_USER_KEPT
      - REVIEW_DELETED_STATUS_UNSPECIFIED
      title: Enum for the deleted status of a review
      type: string
    v1GetReviewsResponse:
      description: Response message containing the retrieved reviews.
      properties:
        reviews:
          description: Output only. The retrieved reviews.
          items:
            $ref: '#/components/schemas/v1Review'
          readOnly: true
          type: array
      title: Get Reviews Response
      type: object
    v1Review:
      description: Customer feedback about a business with ratings, comments, and responses.
      properties:
        actionStatus:
          $ref: '#/components/schemas/v1ReviewActionStatus'
        classifiedAs:
          $ref: '#/components/schemas/v1ReviewRatingCategory'
        comments:
          description: Output only. Business responses to this review.
          items:
            $ref: '#/components/schemas/v1ReviewComment'
          readOnly: true
          type: array
        contactExternalId:
          description: Output only. Contact external id of the user who gave the review.
          readOnly: true
          type: string
        contactId:
          readOnly: true
          title: 'Output only. Contact id of the user who gave the review. (Eg: ContactID-731b80b1-1aae-49ff-8c21-d43aa01e1bf8)'
          type: string
        content:
          description: Output only. Full review text. May be empty for star-only reviews.
          readOnly: true
          type: string
        created:
          description: Output only. When review was ingested into system (RFC3339 UTC). May differ from published.
          format: date-time
          readOnly: true
          type: string
        deleted:
          description: Output only. When review was deleted (RFC3339 UTC). Zero timestamp = not deleted.
          format: date-time
          readOnly: true
          type: string
        deletedStatus:
          $ref: '#/components/schemas/v1ReviewDeletedStatus'
        domain:
          description: Output only. Platform domain indicating the source where the review was provided. (e.g., "google.com", "yelp.com").
          readOnly: true
          type: string
        edited:
          description: Output only. When review was last edited by customer (RFC3339 UTC).
          format: date-time
          readOnly: true
          type: string
        externalId:
          description: Output only. Platform's native review identifier (opaque string, often base64-encoded).
          readOnly: true
          type: string
        hasAccuratePublished:
          description: Output only. Whether published timestamp is accurate (true) or estimated (false, e.g., midday UTC).
          readOnly: true
          type: boolean
        isPublished:
          description: Output only. Whether review is published.
          readOnly: true
          type: boolean
        isSharedByReviewer:
          description: Output only. Whether reviewer shared review beyond original platform.
          readOnly: true
          type: boolean
        lastFailedReviewCommentCreated:
          description: Output only. When most recent response attempt failed (RFC3339 UTC). Zero timestamp = no failures.
          format: date-time
          readOnly: true
          type: string
        lastFailedReviewCommentReason:
          description: Output only. Error reason for failed response attempt. Empty = no failure.
          readOnly: true
          type: string
        lastFailedReviewCommentText:
          description: Output only. Text of failed response attempt. Empty = no failed response.
          readOnly: true
          type: string
        listingId:
          description: 'Output only. Business location identifier. Format: "LIS-" prefix + alphanumeric.'
          readOnly: true
          type: string
        modified:
          description: Output only. When review record was last updated (RFC3339 UTC).
          format: date-time
          readOnly: true
          type: string
        newComment:
          description: Output only. Whether there's an unacknowledged business response.
          readOnly: true
          type: boolean
        originalStars:
          description: 'Output only. Platform rating * 1000. 5-star: 1000-5000, 10-point: 1000-10000, half-star: includes 1500, 2500, etc.'
          format: double
          readOnly: true
          type: number
        published:
          description: Output only. When customer published review on platform (RFC3339 UTC).
          format: date-time
          readOnly: true
          type: string
        rating:
          description: 'Output only. Star rating as string. Values: "1", "2", "3", "4", "5".'
          readOnly: true
          type: string
        recommendation:
          $ref: '#/components/schemas/v1Recommendation'
        reviewId:
          $ref: '#/components/schemas/v1ReviewIdentifier'
        reviewer:
          $ref: '#/components/schemas/v1Reviewer'
        scaledStars:
          description: Output only. Normalized rating (0-1000 scale, linear interpolation across platforms).
          format: int64
          readOnly: true
          type: string
        sourceId:
          description: 'Output only. Internal platform ID. Common: 10010 (Google), 10000 (Yelp), 10050 (Facebook).

            For readable names, use source_name (field 31).'
          format: int64
          readOnly: true
          type: string
        sourceName:
          description: Output only. Readable platform name (e.g., "Google", "Yelp"). May be empty; use source_id as fallback.
          readOnly: true
          type: string
        thirdPartyPublishedStatus:
          $ref: '#/components/schemas/v1ThirdPartyPublishedStatus'
        title:
          description: Output only. Truncated review text. No ellipsis added if truncated.
          readOnly: true
          type: string
        url:
          description: Output only. Direct URL to review on platform.
          readOnly: true
          type: string
      title: Review
      type: object
    v1UpdateReviewResponse:
      description: Response message containing the ID of the updated review.
      properties:
        reviewId:
          description: Output only. The ID of the updated review.
          readOnly: true
          type: string
      title: Update Review Response
      type: object
    v1SearchReviewsResponse:
      description: Response message containing reviews matching the search criteria with pagination metadata.
      properties:
        cursor:
          description: 'Output only. Cursor for the next page. This value should be used in the next request''s cursor field.

            Empty string means no more pages. The cursor is an opaque token. It must be used exactly as returned and should not be modified or generated.'
          readOnly: true
          type: string
        hasMore:
          description: Output only. Whether or not more results exist.
          readOnly: true
          type: boolean
        reviews:
          description: Output only. Reviews matching the search criteria for the current page. Empty list if no matches.
          items:
            $ref: '#/components/schemas/v1Review'
          readOnly: true
          type: array
        totalResults:
          description: Output only. Total count of reviews matching criteria across all pages.
          format: int32
          readOnly: true
          type: integer
      title: Search Reviews Response
      type: object
    v1UpdateReviewCommentResponse:
      description: Response message containing the updated review comment.
      properties:
        reviewComment:
          $ref: '#/components/schemas/v1ReviewComment'
      title: Update Review Comment Response
      type: object
    v1ReviewActionStatus:
      default: REVIEW_ACTION_STATUS_ACTION_REQUIRED
      enum:
      - REVIEW_ACTION_STATUS_ACTION_REQUIRED
      - REVIEW_ACTION_STATUS_NO_ACTION_REQUIRED
      - REVIEW_ACTION_STATUS_OWNER_RESPONDED
      - REVIEW_ACTION_STATUS_RESPONSE_AWAITING_APPROVAL
      - REVIEW_ACTION_STATUS_DIGITAL_AGENT_RESPONDED
      - REVIEW_ACTION_STATUS_AI_RESPONDED
      title: Enum for the action status of a review
      type: string
    v1ReviewRatingCategory:
      default: UNSPECIFIED
      enum:
      - UNSPECIFIED
      - DETRACTOR
      - PASSIVE
      - PROMOTER
      title: enum for review rating classification
      type: string
    v1GetReviewsRequest:
      description: Request message for retrieving a set of reviews by their identifiers.
      properties:
        includeComments:
          description: Optional. Whether or not to include comments on the reviews.
          type: boolean
        reviewIds:
          description: Required. The set of review IDs to retrieve.
          items:
            $ref: '#/components/schemas/v1ReviewIdentifier'
          type: array
      required:
      - reviewIds
      title: Get Reviews Request
      type: object
    v1Recommendation:
      default: RECOMMENDATION_UNSPECIFIED
      enum:
      - RECOMMENDATION_UNSPECIFIED
      - RECOMMENDATION_POSITIVE
      - RECOMMENDATION_NEGATIVE
      title: Enum for a review's facebook recommendation value
      type: string
    protobufAny:
      additionalProperties: {}
      properties:
        '@type':
          type: string
      type: object
    v1ThirdPartyReviewPublishSettings:
      description: Settings controlling how third-party reviews are published to the review widget.
      properties:
        minimumPublishRating:
          description: Output only. The minimum star rating to auto-publish reviews, 0 means only manually published reviews.
          format: int64
          readOnly: true
          type: string
        widgetAllReviewsEnabled:
          description: Output only. Whether the widget can show reviews for all sources.
          readOnly: true
          type: boolean
      title: Third Party Review Publish Settings
      type: object
    v1GetReviewMetricsRequest:
      description: Request message for retrieving review metrics for one or more business namespaces.
      properties:
        maxDateTime:
          description: Optional. Filter reviews published on or before this date (RFC3339 UTC, inclusive).
          format: date-time
          type: string
        minDateTime:
          description: Optional. Filter reviews published on or after this date (RFC3339 UTC, inclusive).
          format: date-time
          type: string
        namespaces:
          description: Required. The IDs of the namespace(s) you wish to get metrics for. A namespace may be an account_group_id (AG-) or multi-location-group (G-).
          items:
            type: string
          type: array
        partnerId:
          description: Required. Partner ID of the namespaces provided in the request (e.g., "ABC").
          type: string
        sourceNames:
          description: 'Optional. Filter by source platform. To filter multiple platforms, provide multiple elements in the array.

            Each entry in this repeated field must be a single source name Example: ["Google", "Yelp", "Facebook"].'
          items:
            type: string
          type: array
        splitGroupsIntoAccounts:
          description: 'Optional. Controls metric aggregation granularity for review data.

            When false (default): Returns aggregated metrics at the group level (e.g., for multi-location group G-12345).

            When true: Returns metrics split by individual account group IDs within the parent group, providing more detailed breakdowns.

            Use this when you need to analyze performance differences between individual locations or accounts within a larger organizational group.

            Example: A franchise with 10 locations would get 10 separate metric entries instead of 1 combined entry.'
          type: boolean
      required:
      - namespaces
      - partnerId
      title: Get Review Metrics Request
      type: object
    v1ReviewIdentifier:
      description: Uniquely identifies a review by its account group and review ID.
      properties:
        accountGroupId:
          description: Required. The account group ID that owns the review.
          type: string
        reviewId:
          description: Required. The unique review ID.
          type: string
      required:
      - accountGroupId
      - reviewId
      title: Review Identifier
      type: object
    v1ReviewHistory:
      description: A historical snapshot of a review, capturing the state of the review at a point in time.
      properties:
        accountGroupId:
          description: Output only. Business identifier of the review history.
          readOnly: true
          type: string
        content:
          description: Output only. The review content body.
          readOnly: true
          type: string
        created:
          description: Output only. When the review history was created in the system.
          format: date-time
          readOnly: true
          type: string
        externalId:
          description: Output only. The sources identifier of the review.
          readOnly: true
          type: string
        isRecommendation:
          $ref: '#/components/schemas/v1Recommendation'
        listingId:
          description: Output only. The listing id that the review belongs to.
          readOnly: true
          type: string
        partnerId:
          description: Output only. The partner ID associated with the review.
          readOnly: true
          type: string
        published:
          description: Output only. When the review was published.
          format: date-time
          readOnly: true
          type: string
        reviewHistoryId:
          description: Output only. Identifier of the review history.
          readOnly: true
          type: string
        reviewId:
          description: Output only. Review id that the review history belongs to.
          readOnly: true
          type: string
        reviewLastEdited:
          description: Output only. When the review was last modified on the source site.
          format: date-time
          readOnly: true
          type: string
        reviewerName:
          description: Output only. Name of the reviewer.
          readOnly: true
          type: string
        scaledStarRating:
          description: Output only. The scaled stars of the review.
          format: int64
          readOnly: true
          type: string
        source:
          description: Output only. The source that the review belongs to.
          format: int64
          readOnly: true
          type: string
      title: Review History
      type: object
    v1GetMultiThirdPartyReviewPublishSettingsResponse:
      description: Response message containing third-party review publish settings keyed by account group ID.
      properties:
        thirdPartyReviewPublishSettings:
          additionalProperties:
            $ref: '#/components/schemas/v1ThirdPartyReviewPublishSettings'
          description: Output only. The third-party review publish settings keyed by account group ID.
          readOnly: true
          type: object
      title: Get Multi Third Party Review Publish Settings Response
      type: object
    v1ReviewHistoryRequest:
      description: Request message for retrieving the history of a review.
      properties:
        reviewId:
          description: Required. The ID of the review to retrieve history for.
          type: string
      required:
      - reviewId
      title: Review History Request
      type: object
  securitySchemes:
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://sso-api-prod.apigateway.co/oauth2/auth
          scopes:
            business-app: Allows the application to manage all features of Business App
            reputation: Allows the application to manage reputation reports for your clients' businesses
            reputation.nps:read: Allows the application view-only access to NPS data for the business locations you have access to
            reputation.review:read: Allows the application view-only access to retrieve reviews for the business locations you have access to
          tokenUrl: https://sso-api-prod.apigateway.co/oauth2/token
      type: oauth2
