openapi: 3.2.0
info:
  title: WSP Admin Center Search Service API
  version: 1.14.1
servers:
- description: Production
  url: https://prod.apigateway.co/grpc
tags:
- name: SearchService
paths:
  /v1/wph/admin/plugins/updates-count:
    post:
      operationId: SearchService_GetPluginUpdatesCount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetPluginUpdatesCountRequest'
        description: Request to get the count of plugins that need updating for a partner.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetPluginUpdatesCountResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - OAuth2:
        - admin
      summary: Get Plugin Updates Count
      tags:
      - SearchService
  /v1/wph/admin/site-health:
    post:
      operationId: SearchService_GetSiteHealthChecks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetHealthCheckRequest'
        description: Request to get health check data for one or more sites.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetHealthCheckResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - OAuth2:
        - admin
      summary: Get Site Health Checks
      tags:
      - SearchService
components:
  schemas:
    rpcStatus:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
        message:
          type: string
      type: object
    v1GetHealthCheckResponse:
      description: Response containing site health check data with pagination.
      properties:
        hasMore:
          description: Output only. Whether or not more results exist.
          readOnly: true
          type: boolean
        siteHealths:
          description: Output only. The list of site health records.
          items:
            $ref: '#/components/schemas/v1SiteHealths'
          readOnly: true
          type: array
        totalResults:
          description: Output only. The total number of results for this query across all pages.
          format: int64
          readOnly: true
          type: string
      title: GetHealthCheckResponse
      type: object
    v1GetPluginUpdatesCountResponse:
      description: Response containing the total count of plugins that need updating.
      properties:
        totalCount:
          description: Output only. The total number of plugins that need updating.
          format: int64
          readOnly: true
          type: string
      title: GetPluginUpdatesCountResponse
      type: object
    v1SiteHealths:
      description: Health and uptime status information for a WordPress site.
      properties:
        accountId:
          description: Output only. The account ID associated with this site.
          readOnly: true
          type: string
        currentHealth:
          description: Output only. The current health state of the site.
          readOnly: true
          type: string
        healthCheckValues:
          description: Output only. The list of health check data points.
          items:
            $ref: '#/components/schemas/v1HealthCheckValues'
          readOnly: true
          type: array
        partnerId:
          description: Output only. The partner ID that owns this site.
          readOnly: true
          type: string
        primaryDomain:
          description: Output only. The primary domain of the site.
          readOnly: true
          type: string
        siteId:
          description: Output only. The unique identifier of the site.
          readOnly: true
          type: string
        statusCode:
          description: Output only. The HTTP status code from the latest health check.
          readOnly: true
          type: string
        uptime1day:
          description: Output only. The uptime percentage over the last 1 day.
          readOnly: true
          type: string
        uptime30days:
          description: Output only. The uptime percentage over the last 30 days.
          readOnly: true
          type: string
        uptime7days:
          description: Output only. The uptime percentage over the last 7 days.
          readOnly: true
          type: string
      title: SiteHealths
      type: object
    v1GetPluginUpdatesCountRequest:
      description: Request to get the count of plugins that need updating for a partner.
      properties:
        partnerId:
          description: Required. The partner ID to get plugin update counts for.
          type: string
      required:
      - partnerId
      title: GetPluginUpdatesCountRequest
      type: object
    v1HealthCheckValues:
      description: A single health check data point with state and timestamps.
      properties:
        created:
          description: Output only. The time the health check was created.
          format: date-time
          readOnly: true
          type: string
        state:
          description: Output only. The state of the health check (e.g., up, down).
          readOnly: true
          type: string
        updated:
          description: Output only. The time the health check was last updated.
          format: date-time
          readOnly: true
          type: string
      title: HealthCheckValues
      type: object
    protobufAny:
      additionalProperties: {}
      properties:
        '@type':
          type: string
      type: object
    v1GetHealthCheckRequest:
      description: Request to get health check data for one or more sites.
      properties:
        siteId:
          description: Required. The site IDs to get health check data for.
          items:
            type: string
          type: array
      required:
      - siteId
      title: GetHealthCheckRequest
      type: object
  securitySchemes:
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://sso-api-prod.apigateway.co/oauth2/auth
          scopes:
            admin: Allows the application to perform administrative tasks that you have access to across the platform
          tokenUrl: https://sso-api-prod.apigateway.co/oauth2/token
      type: oauth2
