openapi: 3.2.0
info:
  title: Local SEO REST Listing Scores API
  version: '1.0'
  description: Using this api requires active Local SEO
servers:
- url: https://prod.apigateway.co/products/listings
  description: Production
- url: https://demo.apigateway.co/products/listings
  description: Demo
- url: '{local}/products/listings'
  description: Local
- url: http://localhost:11001/products/listings
  description: Localhost
tags:
- name: Listing Scores
paths:
  /listingScores/{id}:
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
    get:
      summary: Get Listing Score
      tags:
      - Listing Scores
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/listingScores'
      operationId: get-listingScores
      description: '[Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Trusted Tester`

        Get the listing score information for a specific business'
      x-lifecycle:
        status: proposed
      security:
      - OAuth2Demo:
        - listing
      - OAuth2Prod:
        - listing
      parameters:
      - schema:
          type: string
        in: header
        name: Authorization
        description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
    options:
      summary: List valid HTTP verbs for /listingScores
      operationId: options-listingScores-id
      responses:
        '200':
          description: OK
      description: Used solely for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the OPTIONS request returns the list of possible HTTP methods and other headers that browsers use to protect user's security. You should not call this operation directly.
      tags:
      - Listing Scores
components:
  schemas:
    listingScores:
      title: Listing Scores
      type: object
      properties:
        id:
          type: string
          description: Vendasta's unique ID for the business
        type:
          type: string
          default: listingScores
          enum:
          - listingScores
        attributes:
          type: object
          properties:
            totalScore:
              type: integer
              description: The business's current listing score including the score based on online citations
            industryAverageNinetyFifth:
              type: integer
              description: The ninety fifth percentile listing score for businesses in the same industry
            initialListingScore:
              type: integer
              description: The listing score of the business when Local SEO was first activated
      x-lifecycle: proposed
      description: '[Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Proposed`

        The listing score information for a business location'
      x-tags:
      - Listing Scores
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
    OAuth2Demo:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sso-api-demo.apigateway.co/oauth2/auth
          tokenUrl: https://sso-api-demo.apigateway.co/oauth2/token
          refreshUrl: ''
          scopes:
            listing: Access to the Local SEO REST API
    OAuth2Prod:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sso-api-prod.apigateway.co/oauth2/auth
          tokenUrl: https://sso-api-prod.apigateway.co/oauth2/token
          refreshUrl: ''
          scopes:
            listing: Access to the Local SEO REST API
